@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --authbg:#EEEFF3;
  --white:#ffffff;
  --midgray:rgba(128, 128, 128, 0.3);
  --authgraydient:linear-gradient(to bottom , var(--authbg) , white)
}